<h1>Détails du timeline</h1>
<br>
<div class="new-table">
<table>
  <tr><td>
    <label>Nom : <input type="text"></label></td>
   <td>
    <label>Catégorie : <input type="text"></label>
  </td>
<td>
    <label>Date de création : <input type="date"></label>
</td>
<td>
  <button type="submit" (click)="saveNewTimeline()">Sauver le timeline</button>
</td>
    </tr>
</table>
</div>
<div class="edit-card">
  <h2>Edition d'une carte</h2>
  <table class="new-card">
    <tr><td> <button>Nouvelle Carte</button></td>
    <td class="card-name">
      <label>Nom :<input type="text"></label>
    </td>
    <td class="card-name">
      <label>Date de création :<input type="date"></label>
    </td>
    <td class="card-name">
      <label>URL d'image :<input type="text"></label>
    </td>
    <td class="card-name">
      <label>Description :<input type="text"></label>
    </td>
    <td class="card-name">
      <label>Nom :<input type="text"></label>
    </td>
    <td><button>Sauver la carte</button></td>
  </table>
</div>
