.button-timeline{
  border-radius: 3px;
  background-color: crimson;
  font-family: "Comic Sans MS";
  color: whitesmoke;
  padding: 5px 10px;
}
a_jouer{

  margin: auto;
  cursor: pointer;

}
a{
  color: rgba(130,2,99,1);
}

table{
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  border: solid;
  box-sizing: border-box;
  border-spacing: 2px;
  border-color: indigo;
}

th, td{
  border: thin solid;
}
th{
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}


